* {
    box-sizing: border-box;
  }
  
  .faq {
    padding: 20px;
    width: 60%;
    min-width:450px;
    margin: auto;
    position: relative;
    height: auto;
  }
  
  .faq-container {
    width: 100%;
    height: 100%;
  
  }
  
  .faq-label {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5BA3BA;
    border-radius: 5px;
  
  }
  
  .faq-label-text {
    color: white;
  
  }
  
  .faq-label-icon {
    padding: 2px 3px;
    background: #43BEE6;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .material-icons {
    color: white;
    transition: 0.3s ease;
  }
  
  .faq-answer {
    transition: 0.3s ease;
    margin-top: 15px;
    height: 0;
    border-radius: 6px;
    color: rgba(127, 121, 121, 1);
    overflow: hidden;
  
  }
  
  .faq-answer-content {
    padding: 10px 0 10px 15px;
    
  
  }
  
  .active {
  
    background: #FFFFFF;
    border: 1px solid #C7C4C4;
    
    height: auto;
    margin-bottom: 25px;
  
  }
  .rotate{
    transform: rotate(180deg)
  }
  .global-label{
    width:100%;
    height:25px;
    border-bottom: solid 2px #C4C1C1;
    margin-bottom: 35px;
  }
  .global-label-text{
    font-size:18px;
    color:#196B85;
  }
  
.navbar-brand {
  padding: 0;
  margin: 15px 0px;
}

.navbar-brand .logo {
  display: inline-block;
}

.navbar-brand .logo > img {
  max-height: 50px;
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    margin: 15px 15px;
  }
}

#header.transparent-navbar:not(.fixed-navbar) .navbar-brand .logo .logo-img {
  display: none;
}

#header.fixed-navbar .navbar-brand .logo .logo-alt-img {
  display: none;
}

#header:not(.transparent-navbar) .navbar-brand .logo .logo-alt-img {
  display: none;
}

/*=========================================================
	NAVIGATION
===========================================================*/

#header {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #0000001a;
  z-index: 80;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#header.transparent-navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  /* border-bottom: 1px solid #dadada30; */
}

#header.fixed-navbar {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  background: #a70c2d;
  -webkit-box-shadow: 0px 0px 3px #0003;
  box-shadow: 0px 0px 3px #0003;
  border-bottom: none;
  -webkit-animation: slide-in 0.3s;
  animation: slide-in 0.3s;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.main-nav li a {
  position: relative;
  padding: 30px 15px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#header.transparent-navbar .main-nav li a {
  color: #fff;
}

#header.fixed-navbar .main-nav li a {
  color: #fff;
}

.main-nav li.active a:after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -3px;
  width: 100%;
  left: 0;
  background: #dd0a37;
}

.main-nav li.active a:after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -3px;
  width: 100%;
  left: 0;
  background: #dd0a37;
}

.main-nav li a:hover,
.main-nav li a:focus {
  background-color: transparent;
  color: #dd0a37;
}

/* #header.transparent-navbar .main-nav li a:hover {
  color: #dd0a37;
} */

.navbar-toggle {
  display: none;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin: 15px;
  padding: 0;
  font-size: 32px;
  color: #0b0f28;
}

#header.transparent-navbar .navbar-toggle {
  color: #fff;
}

#header.fixed-navbar .navbar-toggle {
  color: #0b0f28 !important;
}

/* Mobile nav */

@media only screen and (max-width: 767px) {
  .main-nav {
    margin: 0px -15px;
    max-height: 0;
    overflow-y: scroll;
    background-color: #fff;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .main-nav.open {
    max-height: 500px;
  }
  .main-nav li.active a:after {
    display: none;
  }
  #header.transparent-navbar .main-nav li a {
    color: #0b0f28;
  }
  .main-nav li a:hover,
  .main-nav li a:focus,
  .main-nav li.active a {
    background-color: #dd0a37;
    color: #fff !important;
  }
  .navbar-toggle {
    display: block;
  }

  .home-links {
    flex-direction: column;
    gap: 1rem;
  }
}
h1{
  align-items: center;
  z-index: 998;
}